appdirs==1.4.4
astroid==2.5
attrs==20.3.0
black==19.10b0
certifi==2020.12.5
click==7.1.2
colorama==0.4.4
docutils==0.16
isort==5.7.0
keyboard==0.13.5
Kivy==2.0.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
mypy-extensions==0.4.1
olefile==0.46
pathspec==0.7.0
Pillow==8.1.0
pip==21.0.1
Pygments==2.8.0
pylint==2.7.0
PySimpleGUI==4.59.0
regex==2020.11.13
setuptools==49.6.0.post20210108
six==1.15.0
toml==0.10.1
typed-ast==1.4.2
typing-extensions==3.7.4.3
wheel==0.36.2
wincertstore==0.2
wrapt==1.12.1
